@import url("https://fonts.googleapis.com/css2?family=Anton&family=League+Spartan:wght@100..900&family=Pixelify+Sans:wght@400..700&display=swap");

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.may{
    background: #6d2e46;
    
}

.headerp2{
    display: flex;
    justify-content: space-between;
    align-items:center ;
    flex-wrap: wrap;
}

.back{
    padding: 5px 15px;
    background-color: #ff00c8;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
    color: aliceblue;
    a{
        color: aliceblue;
    }
}

.back:hover{
    transition: all 0.3s ease;
    background: #db15ce;
    color: rgb(39, 45, 88);
    a{
        color: rgb(215, 221, 250);
    }
}

.back:active{
    transition: all 0.3s ease;
    transform: scale(0.98);
}

.back a{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    font-family: "Anton", sans-serif;
    
}


.icons1{
    font-size: 20px;
}

.title{
    font-family: "Anton", sans-serif;
    font-size: 30px;
    color: azure;
    text-shadow: 2px 3px 10px;
}

.logo{
    font-size: 50px;
    color: azure;
}

.container{
    text-align: center;
    border: none;
    margin-top: 10px;
}

.title-login{
    font-size: 25px;
    color: aliceblue;
    text-shadow: 2px 3px 9px;
}

.formorder{
    padding: 25px;
    display: flex;
    text-align: left;
    flex-direction: column;
}

.user{
    display: flex;
    flex-direction: column;
}

.title-label{
    color: #6d2e46 ;
}


input{
    height: 60px;
    background: #6d2e46;
    border-radius: 10px;
    color: aqua;
}



form{
    background-color: #fae1e8;
    border-radius: 30px;
}

.remember{
    display: flex;
    align-items: center;
    gap: 10px;
}

.createaccoun1{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #6d2e46;
    color: rgb(253, 255, 255);
    font-size: 20px;
}

.createaccoun1:hover{
    transition: all 0.7s ease;
    background-color: #ff00c8;

}

.createaccoun1:active{
    transform: scale(0.98);
    transition: all 0.3s ease;
    color: #6d2e46;
}

@keyframes pulse {
  0% {
    box-shadow:
      0 0 10px white,
      0 0 10px #ff00c8,
      0 0 15px #00c3ff;
  }
  5% {
    box-shadow:
      0 0 20px white,
      0 0 20px #ff00c8,
      0 0 30px #00c3ff;
  }
  100% {
    box-shadow:
      0 0 10px white,
      0 0 10px #ff00c8,
      0 0 15px #00c3ff;
  }
  20% {
    box-shadow:
      0 0 20px white,
      0 0 20px #ff00c8,
      0 0 30px #00c3ff;
  }
}